.idea/misc.xml
.idea/uiDesigner.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/scssLintPlugin.xml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac Stuff
.DS_Store

# Local Android Settings
/local.properties

# Local IntelliJ
/out

# Demoproject
/demoproject